<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Chat</title>
</head>

<body>

     <button onclick="initChat()">INIT CHAT</button>
     
     <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
     <script>
          let socket = io.connect();
          socket.on('voiceChat', function (data) {
               console.log(data);
               responsiveVoice.speak(data.body.message, "Spanish Female"); //UK English Male
               //socket.emit('my other event', { my: 'data' });
          });

          function initChat(){
               responsiveVoice.speak("Voice chat on", "Spanish Female");
          }
     </script>
</body>

</html>